body {
  font-family: "Roboto", sans-serif;
  background-color: #F8F9D7;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  background-color: #E49BFF;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  max-width: 600px;
  width: 100%;
  margin: 20px auto;
}

.table-container {
  background-color: #E49BFF;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  max-width: 100%;
  width: 90%;
  margin: 20px auto;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333333;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #333333;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #cccccc;
  border-radius: 4px;
  font-size: 16px;
  box-sizing: border-box;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
input[type="password"]:focus {
  border-color: #007bff;
  outline: none;
}

.error {
  color: #e74c3c;
  font-size: 12px;
  margin-top: 5px;
}

button[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #850F8D;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #C738BD;
}

#message {
  margin-top: 20px;
  text-align: center;
  font-size: 16px;
}

#usersTableContainer {
  display: none; 
  overflow-x: auto; 
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  box-sizing: border-box;
  table-layout: fixed; 
}

th,
td {
  padding: 10px;
  border: 1px solid #dddddd;
  text-align: left;
  word-wrap: break-word; 
}

th {
  background-color: #C738BD;
  color: white;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

.edit-button,
.delete-button {
  padding: 5px 10px;
  margin-right: 5px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.edit-button {
  background-color: #f0ad4e;
  color: white;
}

.edit-button:hover {
  background-color: #ec971f;
}

.delete-button {
  background-color: #d9534f;
  color: white;
}

.delete-button:hover {
  background-color: #c9302c;
}


@media (max-width: 600px) {
  .container,
  .table-container {
    padding: 10px;
  }

  input[type="text"],
  input[type="email"],
  input[type="tel"],
  input[type="password"] {
    padding: 8px;
    font-size: 14px;
  }

  button[type="submit"] {
    padding: 8px;
    font-size: 14px;
  }

  th,
  td {
    padding: 8px;
    font-size: 14px;
  }
}
